.main-content {
    margin-left: 240px; /* Adjust as per your sidebar width */
    padding: 20px;
    margin-top: 90px; /* Adjust as per your header height */
}

.table-container {
    max-height: 475px; /* Set the height for the scrollable area */
    overflow-y: auto; /* Add vertical scrollbar when needed */
    border-bottom: 1px solid #ddd; /* Optional: border around the scrollable area */
    border-radius: 10px;
}

.add a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: #007bff; /* Button color */
    border-radius: 5px; /* Rounded corners */
}

.add a:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #555555;
    color: white;
    position: sticky; /* Make header sticky */
    top: 0; /* Stick to the top */
    z-index: 2; /* Ensure header stays on top of the table body */
}

tbody {
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.hidden {
    display: none;
}

.blur {
    filter: blur(4px);
}

.add {
    text-align: center;
    background-color: #007bff; /* Bootstrap Primary Blue */
    padding: 10px 20px;
    border-radius: 5px;
}

.add:hover {
    background-color: #0056b3;
}
