
        /* Your existing styles here */
        @font-face {
            font-family: 'Poppins';
            src: url('/static/styles/Poppins/Poppins-Medium.ttf') format('truetype');
        }
        .body {
            font-size: small;
        }

        .main-content {
            margin-left: 240px; /* Adjust as per your sidebar width */
            padding: 15px;
            margin-top: 90px; /* Adjust as per your header height */
        }

        .top{
            letter-spacing: 1px;
            font-size: 28px;
            margin-top:10px;
            font-weight: 300;
            margin-bottom: 5px;
        }


        .table-side-container {
            display: flex;
            justify-content: center;
        }

        .side{
            width: 40%;
            margin-top: -65px;
        }
       

        .head {
            margin-left: 10px;
            margin-top: 17px;
            width: 90%;
            display: flex;
            justify-content: center; /* Center the content horizontally */
            align-items: center; /* Center the content vertically */
            padding: 8px; /* Add padding inside the div */
            background: #73532C;
            border-radius: 10px; /* Add rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for depth */
            color: white; /* Set the text color */
           
        }

        .head h1 {
            margin: 0; /* Remove default margin from the h1 */
            font-size: 16px; /* Set the font size */
            font-family: 'Poppins', sans-serif; /* Set the font family */
            letter-spacing: 3px; /* Slightly increase the spacing between letters */
            text-align: center; /* Center the text within the h1 */
            width: 100%; 
        }

       
        .search-container { 
            display: flex;
            flex-direction: column;
            padding: 20px;
            max-width: 600px; 
           
        }

        .search-container > * {
            display: flex;
            align-items: center;
            /* gap: 5px; */
        }

        .search-container form,
        .search-container a {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .search-container form {
            display: flex;
            align-items: center;
            width: 100%;
            flex: 1;
        }

        h4{
          margin-top: -15px;
          margin-bottom: 5px;
        }
        
        .search-container input[type="text"],
        .search-container select {
            
            padding: 5px 5px; 
            border: 1px solid #ccc; 
            border-radius: 5px 0px 0px 5px; 
            font-size: 13px; 
            font-family: 'Poppins', sans-serif;
            width: 100%; 
            box-sizing: border-box; 
        }
        
        .search-container button {
            padding: 5px 5px; 
            background: #7EBC89;
            border: none; 
            border-radius: 0px 5px 5px 0px;
            color: white; 
            font-size: 13px; 
            font-family: 'Poppins', sans-serif; 
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100px; 
            text-align: center;
            border: 1px solid #ccc; 
           
        }
        
        .search-container button:hover {
            background: #7EBC89;
        }
        
        /* Style for the Reset List link */
        .search-container a {
            
            padding: 5px; 
            background: #7EBC89;
            border: none; 
            border-radius: 5px;
            color: white; 
            font-size: 14px; 
            font-family: 'Poppins', sans-serif; 
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%; 
            margin-top: 5px;
            margin-bottom: 5px;
            text-decoration: none;
            
        }
        
        .search-container a:hover {
            text-decoration: none; 
        }


        .no-results {
            color: red;
            margin-top: 20px;
            margin-left: 200px;
        }
  

        .add {
            margin-top: -15px;
            padding: 8px;
            border-radius: 10px; 
            background: #E1A95F;
            
            letter-spacing: 1px;
            font-size: 14px;
            margin-left: 10px;
            width: 90%;
            position: relative; 
            text-align: center;
            
        }
        .add:hover{
            opacity: 0.8;
            cursor: pointer;  

        }
        .add a{
            padding: 15px;
            color: white;
            text-decoration: none;

        }

        
       /* location container */
       /* Container for the section below the table */
        #location-container {
            width: 90%;
            padding: 10px;
            background: #ECECEC;
            border: 1px solid #ccc;
            border-radius: 8px;
            flex-direction: column;
            margin-left: 10px;
            margin-top: 5px;
        }

        /* Label and input styling */
        #location-container label {
            font-weight: bold;
            margin-bottom: 15px;
            font-size: 13px;
            background: #73532C;
            padding: 5px;
            width: 300px;
            border-radius: 0px 10px 10px 0px;
            color: white;
            margin-left: -10px;
            margin-top: 10px;
        }

        #location-container input[type="text"] {

            margin-bottom: 10px;
            margin-top: 15px;
            padding: 5px 7px; 
            border: 1px solid #ccc; 
            border-radius: 5px; 
            font-size: 13px; 
            font-family: 'Poppins', sans-serif;
            width: 100%; 
            box-sizing: border-box;

        }

        /* Style for the buttons */
        #button-container {
            display: flex;
            justify-content: center; /* Center buttons */
            width: 100%;
            flex-direction: column; 
           

        }
        #location-container button {
            padding: 8px 12px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background: #757575;
            width: 100%;
        }

        #location-container button:hover{
           opacity: 0.8; ;
        }

        #location-container #set-location-btn {
            background: #7EBC89;
            color: white;
            width: 100%;
            margin-bottom: 5px;
        }

        #location-container .btn-danger {
            background: #FF2222;
            color: white;
            width: 100%;
            margin-bottom: 5px;
        }

        /* Ensure hidden elements remain hidden */
        .hidden {
            display: none;
        }

       

        /* delete pop up */
        /* Style for the close button */
        .modal-header .close {
            position: absolute;
            top: 10px; /* Adjust top spacing */
            right: 10px; /* Adjust right spacing */
            background-color: transparent; /* Transparent background */
            border: none; /* Remove border */
            font-size: 20px; /* Increase the size of the close icon */
            color: #000; /* Icon color */
            outline: none; /* Remove the default outline */
            cursor: pointer; /* Change cursor to pointer */
            padding: 5px; /* Add some padding for clickability */
            border-radius: 50%; /* Make the button circular */
        }

        .modal-header .close:hover {
            color: black;
            text-decoration: none;
            cursor: pointer;
            font-size: 24px;
        }


        
        .modal-delete {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content-delete {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            text-align: center;
        }

        .close-delete {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close-delete:hover,
        .close-delete:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .blur {
            filter: blur(5px);
        }

        .btn-edit {
            background-color: #777;
            color: white;
            text-decoration: none;
            border-radius: 4px;
        }

        form{
            width: 90%;
        }
        
        .table-container {
            max-height: 500px; /* Adjust the height as needed */
            overflow: auto;
            border: 1px solid #ddd; /* Optional: Add borders for styling */
            border-radius: 4px;
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            flex: 1;
            
        }

        th, td {
            padding: 3px;
            text-align: left;
            border-bottom: 1px solid #ddd;
           
        }

        th {
            background: #D9D9D9;
            position: sticky;
            top: 0;
            z-index: 1;
            font-size: 14px;
            text-align: center;
        }

        tbody {
            display: block;
            overflow-y: auto;
            max-height: 320px; /* Adjust based on the container height */
            font-size: 12px;
        }

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        td {
            text-align: center;
            word-wrap: break-word; /* Ensures long text wraps inside cells */
        }
        tbody tr:nth-child(even) {
            background: #D9D9D9;

        }
        .hidden {
            display: none;
        }
        .blur {
            filter: blur(4px);
        }

        .button-container {
            display: flex;
            flex-direction: row; 
            align-items: center; 
            gap:2px ;
        }
        
        .button-container button, 
        .button-container a {
            padding: 5px;
            border: none;
            background: #7EBC89;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Poppins', sans-serif; /* Use your preferred font */
        }
        
        .button-container button:hover,
        .button-container a:hover {
            opacity: .8;

        }
        
        .button-container a {
            display: inline-block; /* Keep the link styled as a block but inline */
            background: #E1A95F;
            text-align: center; /* Center text within the link */
        }
        


        .modal-delete{
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; 
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }
        .modal-details {
            margin-left: 150px;
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; 
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;  
        }
        .modal-content-delete{
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
        }
        .modal-content-details {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            height: 480px;
        }
        .close-delete, .close-details {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close-delete:hover, .close-details:hover,
        .close-delete:focus, .close-details:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        /* Notification Styles */
        .notification {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border-radius: 5px;
            z-index: 1000;
            display: none;
        }
        /* Styles for Book Details Modal */
        .details-table {
            width: 600px;
            border-collapse: collapse;
            font-size: 14px;
            height: 450px;
        }
        .details-table tbody{
            display: block;
            overflow-y: auto;
            max-height: 390px;
            font-size: 13px;
        }

        .details-table td {
            padding: 8px;
            border: 1px solid #ddd;
        }

        .details-table td:nth-child(odd) {
            background-color: #f9f9f9;
        }

        .details-table th {
            background-color: #f5f5f5;
        }

        .details-table img {
            display: block;
            margin: 0 auto;
        }

        
    
 /* Responsive adjustments */
 @media (max-width: 768px) {
    #location-container input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
    
    #location-container button {
        width: 100%;
        margin-top: 10px;
    }

    .table-side-container {
        flex-direction: column;
    }

    .table-container, .side {
        width: 100%;
    }
}
