@font-face {
    font-family: 'Poppins';
    src: url('/static/styles/Poppins/Poppins-Medium.ttf') format('truetype');
}
.main-content {
    margin-left: 240px; /* Adjust as per your sidebar width */
    padding: 20px;
    margin-top: 90px; /* Adjust as per your header height */
    display: flex; /* Use flexbox for layout */

}

.head {
    width: 238px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    padding: 15px; /* Add padding inside the div */
    background-color: #CC8C18; /* Set the background color */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for depth */
    color: white; /* Set the text color */
    margin-bottom: 20px; /* Space below the header */
}

.head h1 {
    
    margin: 0; /* Remove default margin from the h1 */
    font-size: 18px; /* Set the font size */
    font-family: 'Poppins', sans-serif; /* Set the font family */
    letter-spacing: 3px; /* Slightly increase the spacing between letters */
    text-align: center; /* Center the text within the h1 */
     
}

.form-panel {
    width: 25%;
    background-color: #eae0a4;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 10px;
}
.book-details-panel,
.borrower-details-panel {
    background-color: #eae0a4;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 20px;
}
.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn-save {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #654321;
    color: white;
    margin-left: 25px;
}
.btn-back {
    background-color: #777;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-left: 10px;
}
.display {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.book-details-panel, .borrower-details-panel {
    width: 100%;
    font-size: 12px;
    background-color: #eae0a4;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 20px;
}
.enlarged-text {
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.6; /* Optional: Adjust line spacing for readability */
}