@font-face {
    font-family: 'Poppins';
    src: url('/static/styles/Poppins/Poppins-Medium.ttf') format('truetype');
}

.main-content {
    margin-left: 240px; /* Adjust as per your sidebar width */
    padding: 20px;
    margin-top: 90px; /* Adjust as per your header height */
    display: flex;
    flex-direction: column;
}

.table-container {
    max-height: 470px; /* Set the height for the scrollable area */
    overflow-y: auto; /* Add vertical scrollbar when needed */
    border: 1px solid #ddd; /* Optional: border around the scrollable area */
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #555555;
    color: white;
    position: sticky; /* Make header sticky */
    top: 0; /* Stick to the top */
    z-index: 2; /* Ensure header stays on top of the table body */
}

tbody {
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.btn {
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.btn-success {
    background-color: #4CAF50;
    color: white;
}

.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contents {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

 .modal-header h5 {
    margin: 0;
    font-size: 24px;
} 

.close {
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: none; 
    float: right;
}

.modal-body {
    margin-top: 20px;
}

.form-select {
    width: 80%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.modal-body input[type="text"] {
    padding: 8px 10px; 
    border: 1px solid #0a0a0a; 
    border-radius: 5px; 
    font-size: 14px; 
    font-family: 'Poppins', sans-serif;
    width: 80%; 
    box-sizing: border-box;
}

.modal-footer {
    margin-top: 20px;
    text-align: right;
}

.modal-footer .btn {
    margin-left: 10px;
}

.d-none {
    display: none;
}

.penalty-status {
    color: red;
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

.status-returned {
    color: green;
    font-weight: bold;
}

.text-danger {
    color: red;
}

.return-btn{
    background-color: #7EBC89; /* Green */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
 .return-btn:hover {
    background-color: #6FAE7B;
}

.btn-warning {
    background-color: #ff4d4d; /* Light Brown/Gold */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.btn-warning:hover {
    background-color: #e63939;
}

.btn-primary{
    background-color: #7EBC89; /* Green */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
 .btn-primary:hover {
    background-color: #6FAE7B;
}

.btn-secondary{
    background-color: #ff4d4d; /* Light Brown/Gold */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.btn-secondary:hover {
    background-color: #e63939;
}